
.notes {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
  &-appbar { 
    align-items: center;
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;

    button {
      background-color: rgb(78, 78, 78, .3);
      border-radius: 12px;
      border: none;
      margin: 2% 5% 0% 5%;
      height: 50px;
      color: white;
      width: 50px;
      transition: .1s ease-in-out;
      
      &:hover {
        background-color: rgb(30, 114, 192);
        cursor: pointer;
      }

      i {
        @include rfs(2rem);
      }
    }
  }

  &-content {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    max-width: 500px;

    &__title {
      background-color: rgba(211, 211, 211, 0.1);
      color: rgb(255, 255, 255);
      border: none;
      height: 15%;
      border-radius: 12px;
      position: relative;
      margin: 10px 0 10px 0;
      width: 100%;
      padding: 10px;

      &:focus {
        outline: none;
      }
    }

    &__textarea {
      background-color: rgba(211, 211, 211, 0.1);
      color: rgb(255, 255, 255);
      border-radius: 12px;
      border: none;
      height: 200px;
      position: relative;
      width: 100%;
      padding: 10px;

      @media (max-width: 700px) {
        margin-bottom: 30px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-btndelete {
    height: 50px;
    color: white;
    border: none;
    max-width: 150px;
    width: 100%;
    margin: 10px auto 0 auto;
    background-color: rgb(207, 95, 42);
    transition: .3s ease-in-out;

    @media (max-width: 700px) {
      max-width: 30%;
    }

    &:hover {
      background-color: rgb(207, 95, 42);
      cursor: pointer;
      background-color: rgba(211, 211, 211, 0.1);
    }

    i {
      @include rfs(2rem);
    }
  }
}